<div class="container">
  <%= link_to 'Back', playwall_posts_path, class:"btn btn-danger my-3", style:"position: fixed; top: 60px;; left: 20px;"  %>
  <h4 class="text-center">Comments</h4>
  <div data-controller="infinite-scroll"> <!--data-action="scroll@window->infinite-scroll#scroll"-->
    <div data-infinite-scroll-target="entries">
      <%= render @comments %>
    </div>
    <div data-infinite-scroll-target="pagination">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>

</div>

<div class="btm-commentbar">
  <%= simple_form_for [ @playwall, @comment ], html: { class: "d-flex align-items-start pt-2", style:"width: 80vw;"} do |f| %>
  <%= f.input :content, as: :string, class: "mb-0", label: false, input_html: { placeholder:"New comment", style:"width: 65vw;" } %>
  <%# style:"width: 65vw;" %>
  <%= f.submit "Post", class: "btn btn-outline-primary" %>
  <% end %>
</div>
