

<div class="container">
  <div class="card-trip">
      <% if playwall_post.photos.attached? %>
        <% if playwall_post.photos.count > 1 %>
          <div id="<%= playwall_post.id %>photos" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= cl_image_tag playwall_post.photos.first.key, class: "d-block w-100", crop: :fill %>
              </div>
              <% playwall_post.photos[1..-1].each do |photo| %>
              <div class="carousel-item">
                <%= cl_image_tag photo.key, class: "d-block w-100", crop: :fill %>
              </div>
              <% end %>
            </div>

            <button class="carousel-control-prev" type="button" data-target="#<%= playwall_post.id %>photos" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#<%= playwall_post.id %>photos" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </button>
          </div>
          <% else %>
            <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= cl_image_tag playwall_post.photos.first.key, class: "d-block w-100", crop: :fill %>
              </div>
            </div>
          </div>
    <% end %>
  <% end %>



  <div class="card-trip-infos">
    <h2><%= playwall_post.caption %></h2>
    <div class="votes d-flex">
      <h2><i class="far fa-thumbs-up p-2"></i></h2>
      <h2 class="align-self-center"></h2>
      <h2><i class="far fa-thumbs-down p-2"></i></h2>
    </div>
  </div>
  <div class="card-trip-infos">
    <h2>@<%= playwall_post.user.username %></h2>
    <h2><%= playwall_post.golf_range.name %></h2>
  </div>
</div>

</div>
