<div class="card-trip" data-controller="vote-button">

  <% if queue_wall.photo.attached? %>
  <%= cl_image_tag queue_wall.photo.key, crop: :fill %>
  <% end %>

  <div class="card-trip-infos">
    <h2><%= queue_wall.level %>:</h2>
    <h2><%= queue_wall.queue_length %> pax in queue</h2>
    <div class="votes d-flex">
      <% if current_user.present? && current_user.voted_up_on?(queue_wall) %>
        <%# <h2><i class="fas fa-thumbs-up p-2"></i></h2> %>
        <%= link_to "", toggle_vote_queue_wall_path(queue_wall),
                          class: "fas fa-thumbs-up p-2",
                          style: "color:green;",
                          remote: true,
                          method: :post,
                          data: {
                          vote_button_target: 'filledLikeBtn'
                          # action: 'click->vote-button#dislike'
                        } %>
      <% else %>
        <%# <h2><i class="far fa-thumbs-up p-2"></i></h2> %>
        <%= link_to "", toggle_vote_queue_wall_path(queue_wall),
                  class: "far fa-thumbs-up p-2",
                  style: "color:black;",
                  remote: true,
                  method: :post,
                  value: user_signed_in?,
                  data: {
                  vote_button_target: 'emptyLikeBtn',
                  # current_user_id: current_user ? current_user.id : 'null',
                  action: 'click->vote-button#like'
                } %>
        <div class="alert alert-info animate__animated d-none" role="alert" data-vote-button-target="alertNotif">You need to <%= link_to "sign in", new_user_session_path %> to vote! <%= link_to "New User?", new_user_registration_path %></div>
      <% end %>
      <h2 class="align-self-center" data-vote-button-target="upcounter" value="<%= queue_wall.get_likes.size %>"><%= queue_wall.get_likes.size %></h2>
      <% if current_user.present? && current_user.voted_down_on?(queue_wall) %>
        <%# <h2><i class="fas fa-thumbs-up p-2"></i></h2> %>
        <%= link_to "", toggle_vote_queue_wall_path(queue_wall),
                          class: "fas fa-thumbs-down p-2",
                          style: "color:red;",
                          remote: true,
                          method: :post,
                          data: {
                          vote_button_target: 'filledDislikeBtn'
                          # action: 'click->vote-button#dislike'
                        } %>
      <% else %>
        <%# <h2><i class="far fa-thumbs-up p-2"></i></h2> %>
        <%= link_to "", toggle_vote_queue_wall_path(queue_wall),
                  class: "far fa-thumbs-down p-2",
                  style: "color:black;",
                  remote: true,
                  method: :post,
                  value: user_signed_in?,
                  data: {
                  vote_button_target: 'emptyDislikeBtn',
                  action: 'click->vote-button#dislike'
                } %>
        <div class="alert alert-info animate__animated d-none" role="alert" data-vote-button-target="alertNotif">You need to <%= link_to "sign in", new_user_session_path %> to vote! <%= link_to "New User?", new_user_registration_path %></div>
      <% end %>
      <%# <h2><i class="far fa-thumbs-down p-2"></i></h2> %>

      <% if  queue_wall.get_dislikes.size == 0%>
        <h2 class="align-self-center" data-vote-button-target="downcounter" value="<%= queue_wall.get_dislikes.size %>"><%= queue_wall.get_dislikes.size %></h2>
      <% else %>
        <h2 class="align-self-center" data-vote-button-target="downcounter" value="<%= queue_wall.get_dislikes.size %>">-<%= queue_wall.get_dislikes.size %></h2>
      <% end %>
      <%= link_to "", new_queue_wall_queue_wall_reports_path(queue_wall), class: "fas fa-exclamation-circle card-trip-infos align-self-center" %>

    </div>
  </div>
  <div class="card-trip-infos">
    <h2>@<%= queue_wall.user.username %></h2>
  </div>
  <div class="card-trip-infos">
    <p><i class="far fa-clock"></i> posted <%= time_ago_in_words(queue_wall.created_at).gsub('about ', '') %> ago</p>
    <!---
    <% if queue_wall.image_time.present? %>
      <p class="text-muted"><i class="fas fa-camera"></i> taken <%= time_ago_in_words(queue_wall.image_time).gsub('about ', '') %> ago<br>
      <i class="far fa-clock"></i> posted <%= time_ago_in_words(queue_wall.created_at).gsub('about ', '') %> ago</p>
    <% else %>
      <p class="text-muted"><i class="far fa-clock"></i>posted <%= time_ago_in_words(queue_wall.created_at).gsub('about ', '') %> ago</p>
    <% end %> --->

    <%= link_to "Update #{queue_wall.level}", new_golf_range_queue_wall_path(@golfrange, level: queue_wall.level), class: "btn btn-primary mb-2" %>
  </div>

</div>
