<div class="card-trip">
  <img src="https://source.unsplash.com/1920x1080/?golf" />
  <div class="card-trip-infos">
    <h2><%= queue_wall.level %>:</h2>
    <h2><%= queue_wall.queue_length %> pax in queue</h2>
    <div class="votes d-flex">
      <h2><i class="far fa-thumbs-up p-2"></i></h2>
      <h2 class="align-self-center"><%= queue_wall.votes_for.size %></h2>
      <h2><i class="far fa-thumbs-down p-2"></i></h2>
    </div>
  </div>
  <div class="card-trip-infos">
    <h2>@<%= queue_wall.user.username %></h2>
    <p class="text-muted">posted <%= time_ago_in_words(queue_wall.created_at).gsub('about ', '') %> ago</p>
  </div>
</div>
