<div class="container" data-controller="upload-spinner">
  <% @queue.level = params[:level] %>
  <% @queue.level = params["queue_wall"]["level"] if @queue.level.nil? %>
  <h1 class="text-center">Update queue for <%= @golfrange.name %> @ <%= @queue.level  %></h1>
  <div data-controller='queue-update'>
    <%= simple_form_for [@golfrange, @queue], html: { data: { 'upload-spinner-target': "form", 'controller': "weather" } } do |f|  %>
      <%= f.input :level, as: :hidden  %>
      <%= f.input :queue_length,
                  as: :range,
                  input_html: { 'data-queue-update-target': 'input',
                                'data-action': 'change->queue-update#peopleSelected',
                                default: 1, min: 1, max: 20
                    } %>
      <%= f.input :queue_length, input_html: { 'data-queue-update-target': 'output' }, label: false  %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, class: "btn", 'data-upload-spinner-target': 'submit', 'data-action': 'click->upload-spinner#send'  %>
      <button class="btn d-none" data-upload-spinner-target="loading">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
        </span>
        <span class="sr-only" >
          Loading...
        </span >
      </button>
    <% end %>
  </div>
  <%= link_to 'javascript:history.back()', class:"btn my-3" do %>
  <i class="fas fa-arrow-left"></i> Back
  <% end %>
</div>
