    <%= link_to "Search for Golfers", search_friends_path, class: "btn mb-2"  %>
  <% if current_user.friends.count == 0 %>
    <h6>You got no friends, try adding some!</h6>
  <% else %>
    <% current_user.friends.each do |friend| %>
      <div class="card-product mb-3">
        <% if friend.image.present? %>
          <%= image_tag friend.image %>
        <% else %>
          <%= cl_image_tag friend.photo.key || 'https://res.cloudinary.com/din6svi45/image/upload/v1639364664/production/golflogo_tt4byq.png' %>
        <% end %>
        <div class="card-product-infos flex-grow-1">
          <h2>@<%= friend.username %></h2>

          <% if friend.status_updates.present? %>
          <% status = friend.status_updates.by_latest.first %>

            <% if Time.now > status.start_time && Time.now < status.end_time %>
              <p>is at <strong><%= status.golf_range.name %></strong> on <%= status.start_time.strftime("%d %b %y") %> from <%= status.start_time.in_time_zone("Asia/Singapore").strftime("%I:%M%p") %> to <%= status.end_time.in_time_zone("Asia/Singapore").strftime("%I:%M%p")  %>!</p>
            <% else %>
              <p>Waiting to tee off!</p>
            <% end %>
          <% else %>
          <p>Waiting to tee off!</p>
          <% end %>

        </div>
        <div class="card-product-infos pr-2">
        <%= link_to "", class: "dropdown", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  do %>
          <i class="fas fa-ellipsis-h text-dark"></i>
          <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Remove Friend", delete_friend_path(friend), class: "dropdown-item text-danger", method: :delete, data: { confirm: "Are you sure?" } %>
              <%= link_to "Block Friend", block_friend_path(friend), class: "dropdown-item text-danger",  method: :post, data: { confirm: "Blocking will remove them. Are you sure?" } %>
            </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <h4>Blocked List</h4>

  <% if current_user.blocked_friends.count == 0 %>
    <h6>Looks like you got no enemies here, keep up the good vibes!</h6>
  <% else %>
    <% current_user.blocked_friends.each do |friend| %>
      <div class="card-product">
      <% if friend.image.present? %>
        <%= image_tag friend.image %>
      <% elsif friend.photo.key.present? %>
        <%= cl_image_tag friend.photo.key %>
      <% else  %>
        <%= image_tag 'https://res.cloudinary.com/din6svi45/image/upload/v1639364664/production/golflogo_tt4byq.png' %>
      <% end %>
      <div class="card-product-infos flex-grow-1">
        <h2>@<%= friend.username %></h2>
          <% if friend.status_updates.present? %>
          <% status = friend.status_updates.by_latest.first %>
          <p>is at <strong><%= status.golf_range.name %></strong> on <%= status.start_time.strftime("%d %b %y") %> from <%= status.start_time.in_time_zone("Asia/Singapore").strftime("%I:%M%p") %> to <%= status.end_time.in_time_zone("Asia/Singapore").strftime("%I:%M%p")  %>!</p>
          <% else %>
          <p>Waiting to tee off!</p>
          <% end %>
      </div>
      <div>
      <%= link_to "", class: "dropdown", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  do %>
        <i class="fas fa-ellipsis-h text-dark"></i>
        <% end %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Unblock Friend", unblock_friend_path(friend), class: "dropdown-item text-danger",  method: :post, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
</div>
    <% end %>
  <% end %>


  <% if current_user.requested_friends.present? %>
  <h4>Sent Request</h4>

    <% current_user.requested_friends.each do |user| %>


    <div class="card-product mt-2">
      <% if user.image.present? %>
        <%= image_tag user.image %>
      <% else %>
        <%= cl_image_tag user.photo.key || 'https://res.cloudinary.com/din6svi45/image/upload/v1639364664/production/golflogo_tt4byq.png' %>
      <% end %>
      <div class="card-product-infos flex-grow-1">
        <h2>@<%= user.username %></h2>

        <p>This golfer wants to be your friend!</p>
      </div>
      <div class="pr-2">

          <%= link_to accept_friend_path(user), class: "text-success" do %>
            <i class="fas fa-check fa-lg pr-3" style="text-decoration:none;"></i>
          <% end %>
          <%= link_to decline_friend_path(user), class: "text-danger" do %>
            <i class="fas fa-times fa-lg pr-2" style="text-decoration:none;"></i>
          <% end %>

      </div>
    </div>
    <% end %>
  <% end %>

    <% if current_user.pending_friends.present? %>
  <h4>Pending Request</h4>

    <% current_user.pending_friends.each do |user| %>


    <div class="card-product mt-2">
      <% if user.image.present? %>
        <%= image_tag user.image %>
      <% else %>
        <%= cl_image_tag user.photo.key || 'https://res.cloudinary.com/din6svi45/image/upload/v1639364664/production/golflogo_tt4byq.png' %>
      <% end %>
      <div class="card-product-infos flex-grow-1">
        <h2>@<%= user.username %></h2>
        <p>Waiting for this Golfer to accept your request</p>
      </div>
    </div>
    <% end %>
  <% end %>
