<!DOCTYPE html>
<html>
  <head>
    <title>GolfQueue - Got long queue ah?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:url"                content="http://golf-queue-club.herokuapp.com" />
    <meta property="og:title"              content="Golf Queue" />
    <meta property="og:type"               content="website" />
    <meta property="og:description"        content="Got long queue ah? Don't worry, check our app for the queue situation at your favourite driving range!" />
    <meta property="og:image"              content="https://res.cloudinary.com/din6svi45/image/upload/v1639629090/production/og-gq_yyfbup.png" />
    <meta name="description" content="Got long queue ah? Don't worry, check our app for the queue situation at your favourite driving range!">
    <meta name="keywords" content="golf, golf range, driving range, queue">
    <meta name="author" content="Front End Bitch, Back End Baskiyat, Lobang King">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%# Display this content for the hook :identifier %>

    <%# TODO: %>
    <%# create hook to display all the content_for :special_content %>
    <%= content_for :special_raise %>

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
